.header__top {
    display: flex;
    height: 42px;
    justify-content: space-between;
    align-items: center;
}

.header__top__left {
    color: rgb(34, 38, 42);
    font-family: Proxima Nova;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

.header__top__right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.header__top__right h3 {
    color: rgb(38, 38, 38);
    font-family: Proxima Nova;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.header__bootm {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 815.49px;
    height: 36px;
}

.header__items h2 {
    color: rgb(38, 38, 38);
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    transition: .3s;
    cursor: pointer;
    padding: 0px 5px;
}

.header__items h2:hover {
    color: rgb(64, 191, 255);
    box-shadow: 0 0 0px 1px #222;
}